$color-text-cta: #FFF;
$color-gradient: linear-gradient(355deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
$color-gradient-like: linear-gradient(180deg, rgba(155,68,217,1) -10%, rgba(228,79,215,1) 110%);

.cta {
    border: 0;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 100px;
    color: $color-text-cta;
    background-image: $color-gradient;
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);
    outline: 0;
    &:hover {
        filter: brightness(115%); 
    }
    &:active {
        filter: brightness(95%);
    }
}

.main--btn {
    height: 2rem;
    margin-right: .5rem;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    outline: 0;
    &:hover {
        .btn--icon:first-child {
            transition-duration: .25s;
            opacity: 0;
        }
        .btn--icon:nth-child(2) {
            opacity: 100%;
        }
    }
    .btn--icon:nth-child(2) {
        transition-duration: .25s;
        background: $color-gradient-like;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        opacity: 0;
    }
}

.menu--btn {
    display: flex;
    justify-content: center;
    padding: 2rem 0 4rem 0;
    .menu--cta {
        padding: 15px 50px;
    }
}