$color-bg-local: #e6e6e6;
$color-bg-hero: #F6F6F6;
$color-text-hero: #707070;

.local {
    background-color: $color-bg-local;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500; 
    span {
        margin-right: 1rem;
    }
}

.hero {
    background-color: $color-bg-hero;
    padding: 2rem 2rem 3.5rem 2rem;
    text-align: center;
    &--text {
        font-weight: 300;
        margin: 1rem 0 2rem 0;
        color: $color-text-hero;
    }
}

.main--hero {
    img {
        max-width: 100%;
        max-height: 32rem;
        width: 100%;
        object-fit: cover;
    }
}